.main {
    position: relative;
}

.main .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
    position: relative;
  }
  
  .dot {
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.07s ease-in;
    z-index: 10;
  }
  
  .dot:hover {
    scale: 1.4;
    cursor: pointer;
  }
  
  .bar {
      position: absolute;
      z-index: 10;
  }
  
  .bar.active {
    background: rgb(53, 43, 43);
  }
  
  .bar.left,
  .bar.right {
    width: 50%;
    height: 2px;
  }
  
  .bar.top,
  .bar.bottom {
    height: 50%;
    width: 2px;
  }
  
  .top {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .left {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .bottom {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .right {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }
  
  .dot_active {
    background: red;
  }
  
  .inner_square {
    width: 20px;
    height: 20px;
    /* background: rgb(164, 164, 246); */
    /* background: transparent; */
    position: absolute;
    z-index: 4;
  }
  
  .inner_square.one {
    left: 0;
    top: 0;
    /* background:rgb(53, 43, 43); */
  }
  
  .inner_square.two {
    left: 50%;
    top: 0;
    /* background:rgb(53, 43, 43); */
  }
  
  .inner_square.three {
    left: 0;
    top: 50%;
  }
  
  .inner_square.four {
    top: 50%;
    left: 50%;
  }
  
  .inner_square.playerOne {
    background: rgb(122, 122, 242);
  }
  
  .inner_square.playerTwo {
    background: red;
  }

  @media  screen and (max-width: 680px) {
    
    .main .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 10;
    }

    .board {
      margin: 1.5rem 0 ;
    }
    
  }
  