.info-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background: rgba(0, 0, 0, 0.405);
}

.info-popup-inner {
    background: #eee;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    position: relative;
    margin: 1rem;
}

.close-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2rem;
    cursor: pointer;
}