header {
    height: 90px;
    padding: 0 1.5rem;
    
}

#logo {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-menu li {
    padding: 0 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.nav-menu li:hover {
    transform: scale(1.2);
}

.hamburger {
    display: none;
}



