.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background: rgba(0, 0, 0, 0.405);
}

.popup-inner {
    background: #eee;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.btn {
    padding: 0.5rem 1.2rem;
    margin: 0.6rem;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: black;
    color: #eee;
}