.App {
  text-align: center;
}

.board {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.board-row {
  display: flex;
}

.square {
  width: 40px;
  height: 40px;
  /* border: 1px solid black; */
  position: relative;
}

.dot {
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.07s ease-in;
}

.dot:hover {
  scale: 1.4;
  cursor: pointer;
}

.bar {
    position: absolute;
}

.bar.active {
  background: black;
}

.bar.left,
.bar.right {
  width: 50%;
  height: 2px;
}

.bar.top,
.bar.bottom {
  height: 50%;
  width: 2px;
}

.top {
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.dot_active {
  background: red;
}
